header{
	background-image:url('../img/fejlec.jpg');
	height:260px;
	background-position:center center;
	background-repeat:no-repeat;
	margin-top:15px;
}

header h1{
	background-color:rgba(223,160,91,0.15);
	padding-left:3rem;
	margin-top:5px;
	font-weight:bold;
	color:white;
}

h1,h2,h3{
	color:orange;
	text-transform:capitalize;
}

.jobbra{
	width: 250px;
	margin-left:20px;
	float: right;
}

.info{
	background-color: rgb(255, 242, 207);
	border: 2px solid rgb(0, 0, 0);
	border-radius: 12px;
}

.lablec a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.lablec a:hover{
	color: red;
	font-style: italic;
}


#dolt{
	font-style:italic;
}

.mancs{
	margin-top:10px;
	list-style-image: url(../img/mancs.png);
}

.felkover {
	font-weight: bold;
}

body {
	background-image: url(../img/hatter.jpg);
}

p {
	text-align: justify;
}