body {
    background-color: burlywood;
    color: rgb(94, 26, 26);
}

h1 {
    text-transform: uppercase;
    border-bottom: 3px solid rgb(94, 26, 26);
}

img {
    display: block;
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    border-radius: 10px;
    
}

.container-fluid {
    padding: 2%;
}

h3 {
    font-variant: small-caps;
    text-decoration: underline;
}

li {
    list-style-type: '➤ ';;
}

.haziasitas > li{
    list-style-type: square;
}

#wikipedia {
    display: inline-block;
    text-align: center;
    width: auto;
    margin-top: 5px;
    margin-bottom: 10px;

    text-decoration: none;
    color: burlywood;
    background-color: rgb(121, 35, 35);
    padding: 5px;
    border-radius: 5px;
    font-size: larger;
    font-weight: bold;
}

#wikipedia:hover {
    background-color: rgb(101, 29, 29);
}


#ugras {
    border-top: 3px solid rgb(121, 35, 35);
    text-align: center;
    padding-top: 5px;
    a {
        text-decoration: none;
        color: rgb(121, 35, 35);
        font-size: large;
    }
}

#ugras > a:hover {
    font-weight: bold;
}

img:hover {
    transform: scale(1.02);
    transition: 0.3s;
}